@page
@model CisternasGAMC.Pages.Citizen.CisternCalendarModel
@{
    Layout = "_Layout"; // Esto ya incluye el <head>
}

<h1>Calendario de Entregas de Agua para @Model.NombreOTB</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Franja Horaria</th>
            @foreach (var day in new[] { "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" })
            {
                <th>@day</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mañana</td>
            @foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
            {
                <td>
                    @foreach (var evnt in Model.CalendarEvents.Where(e => e.DayOfWeek == day && e.TimeSlot == "Mañana"))
                    {
                <div>@evnt.Title (@evnt.Start.ToShortTimeString())</div>
                    }
            </td>
}
        </tr>
        <tr>
            <td>Tarde</td>
            @foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
{
            <td>
                @foreach (var evnt in Model.CalendarEvents.Where(e => e.DayOfWeek == day && e.TimeSlot == "Tarde"))
                    {
                <div>@evnt.Title (@evnt.Start.ToShortTimeString())</div>
    }
            </td>
}
        </tr>
        <tr>
            <td>Noche</td>
            @foreach (var day in new[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" })
{
            <td>
                @foreach (var evnt in Model.CalendarEvents.Where(e => e.DayOfWeek == day && e.TimeSlot == "Noche"))
                    {
                <div>@evnt.Title (@evnt.Start.ToShortTimeString())</div>
    }
            </td>
}
        </tr>
    </tbody>
</table>
